<header class="flex justify-center items-center py-3 w-full">

  <nav class="flex flex-col md:flex-row lg:flex-row gap-x-3 gap-y-4 md:gap-x-16 lg:gap-x-20 text-center">
    <a class="text-lg font-medium hover:text-blue-500 hover:scale-110 transition" href="/">
      Inicio
    </a>
    <a class="text-lg font-medium hover:text-blue-500 hover:scale-110 transition" href="#experience">
      Experiencia
    </a>
    <a class="text-lg font-medium hover:text-blue-500 hover:scale-110 transition" href="#projects">
      Proyectos
    </a>
    <a class="text-lg font-medium hover:text-blue-500 hover:scale-110 transition" href="#about">
      Sobre mí
    </a>
    <a class="text-lg font-medium hover:text-blue-500 hover:scale-110 transition"
      href="https://www.linkedin.com/in/camilo-pujol-coll-b07a84252/"
      target="_blank"
      >
      Contacto
    </a>
  </nav>

</header>
