<header class="flex justify-center items-center py-3 w-full">

  <nav class="flex flex-col md:flex-row lg:flex-row gap-x-3 gap-y-4 md:gap-x-16 lg:gap-x-20 text-center">
    <a class="text-lg font-medium hover:text-blue-500 hover:scale-110 transition" href="/">
      {{ 'HEADER.HOME' | translate }}
    </a>
    <a class="text-lg font-medium hover:text-blue-500 hover:scale-110 transition" href="#experience">
      {{ 'HEADER.XP' | translate }}
    </a>
    <a class="text-lg font-medium hover:text-blue-500 hover:scale-110 transition" href="#projects">
      {{ 'HEADER.PROJECTS' | translate }}
    </a>
    <a class="text-lg font-medium hover:text-blue-500 hover:scale-110 transition" href="#about">
      {{ 'HEADER.ABOUT' | translate }}
    </a>
    <a class="text-lg font-medium hover:text-blue-500 hover:scale-110 transition"
      href="https://www.linkedin.com/in/camilo-pujol-coll-b07a84252/"
      target="_blank"
      >
      {{ 'HEADER.CONTACT' | translate }}
    </a>
  </nav>

</header>
