<section class="w-full md:w-[520px] lg:w-[740px] mx-auto py-10" id="about">
  <div class="flex justify-center md:justify-start">
    <img class="rounded-full size-22 md:size-28 lg:size-32 mb-4" src="../../../assets/images/camilo-2.png" alt="camilodev-photo">
  </div>

  <div class="flex justify-center items-center flex-col gap-x-2 md:flex-row md:gap-x-6 pb-4">
    <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold">
      Hola, soy Camilo
    </h1>
    <a href="https://www.linkedin.com/in/camilo-pujol-coll-b07a84252/" target="_blank" rel="noopener">
      <app-badge [info]="'Disponible para trabajar'"></app-badge>
    </a>
  </div>
  <h2 class="text-xl lg:text-2xl opacity-80 max-w-[720px] mx-auto sm:mx-0 text-center sm:text-left">
    +2 años de experiencia. <span class="text-yellow-500 dark:text-yellow-300">Desarrollador Web
    </span> de Valencia, España. Especializado en el desarrollo
    <span class="text-yellow-500 dark:text-yellow-300">front-end con
    <span class="text-red-600 dark:text-red-400">Angular</span>
    </span> para la concepción de aplicaciones únicas.
  </h2>

  <nav class="flex flex-row justify-center items-center gap-x-5 md:gap-x-12 lg:gap-x-20 py-4 pb-12">
    <app-social-anchor
      [ref]="'https://www.linkedin.com/in/camilo-pujol-coll-b07a84252/'"
      [iconClass]="'ti ti-brand-linkedin'"
      [anchorName]="'LinkedIn'"
    >
    </app-social-anchor>
    <app-social-anchor
      [ref]="'https://github.com/CamiloPC'"
      [iconClass]="'ti ti-brand-github'"
      [anchorName]="'GitHub'"
    >
    </app-social-anchor>
    <app-social-anchor
      [ref]="'mailto:campucoll@gmail.com'"
      [iconClass]="'ti ti-brand-gmail'"
      [anchorName]="'@gmail'"
    >
    </app-social-anchor>
  </nav>
</section>

<section class="w-full md:w-[520px] lg:w-[740px] mx-auto py-10" id="experience">
  <h2 class="text-2xl font-semibold pb-4 flex gap-x-4 items-center">
    <i class="ti ti-briefcase"></i>
    Experiencia
  </h2>

  <ol class="relative border-s border-gray-300 dark:border-gray-700 ml-3">
    <app-xp-item
      [time]="'Actualmente...'"
      [title]="'Desarrollador Web front-end'"
      [description]="'Desarrollo de aplicaciones web y proyectos personales con Angular, HTML, CSS, Tailwind, Material y JavaScript.'"
    >
    </app-xp-item>
    <app-xp-item
      [time]="'Mayo 2023 - Marzo 2025 / Copextel S.A.'"
      [title]="'Especialista en Tecnologías y Servicios Técnicos'"
      [description]="'Especialización en desarrollo web front-end con Angular. Desempeño como analista, diseñador y programador web en la empresa.'"
    >
    </app-xp-item>
    <app-xp-item
      [time]="'2018 - 2022 / Universidad Tecnológica de La Habana, Cuba'"
      [title]="'Curso y Diplomado en la carrera de Ingeniería Informática en La Habana, Cuba'"
      [description]="'Obtención de conocimientos generales en asignaturas de programación, diseño web, bases de datos, redes y sistemas operativos en la carrera de Ingeniería Informática.'"
    >
    </app-xp-item>
  </ol>
</section>

<section class="w-full md:w-[520px] lg:w-[740px] mx-auto py-10" id="projects">
  <h2 class="text-2xl font-semibold pb-4 flex gap-x-4 items-center">
    <i class="ti ti-code-circle-2"></i>
    Proyectos
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <app-project-card
        [linkRef]="'#'"
        [imgSrc]="'../../../assets/images/backlogProject.jpg'"
        [projectName]="'BacklogApp'"
        [projectDesc]="'Aplicación web para crear colecciones y listas de videojuegos, así como gestionar y filtrar videojuegos según el interés del usuario.'"
        [projectTechs]="'Angular, Material, HTML, CSS, Typescript.'">
    </app-project-card>

    <app-project-card
        [linkRef]="'#'"
        [imgSrc]="'../../../assets/images/portfolioProject.jpg'"
        [projectName]="'Portfolio Web'"
        [projectDesc]="'Portfolio web profesional. Incluye información sobre experiencia, proyectos y contacto del perfil.'"
        [projectTechs]="'Angular, Tailwind CSS, HTML, CSS, Typescript'">
    </app-project-card>
  </div>
</section>
