<section class="w-full md:w-[520px] lg:w-[740px] mx-auto py-10" id="about">
  <div class="flex justify-center md:justify-start">
    <img class="rounded-full size-22 md:size-28 lg:size-32 mb-4" src="../../../assets/images/camilo-3.png" alt="camilodev-photo">
  </div>

  <div class="flex justify-center items-center flex-col gap-x-2 md:flex-row md:gap-x-6 pb-4">
    <h1 class="text-3xl md:text-4xl lg:text-5xl font-bold">
      {{ 'ABOUT.HELLO' | translate }}
    </h1>
    <a href="https://www.linkedin.com/in/camilo-pujol-coll-b07a84252/" target="_blank" rel="noopener">
      <app-badge [info]="'ABOUT.AVAILABLE' | translate"></app-badge>
    </a>
  </div>
  <h2 class="text-xl lg:text-2xl opacity-80 max-w-[720px] mx-auto sm:mx-0 text-center sm:text-center">
    {{ 'ABOUT.EXPERIENCE' | translate }}
    <span class="text-yellow-500 dark:text-yellow-300">
      {{ 'ABOUT.ROLE' | translate }}
    </span>
    {{ 'ABOUT.LOCATION' | translate }}
    <span class="text-yellow-500 dark:text-yellow-300">
      {{ 'ABOUT.SPECIALIZED' | translate }}
      <span class="text-red-600 dark:text-red-400">
        {{ 'ABOUT.TECH' | translate }}
      </span>
    </span>
    {{ 'ABOUT.UNIQUE' | translate }}
  </h2>

  <nav class="flex flex-row justify-center items-center gap-x-5 md:gap-x-12 lg:gap-x-20 py-4 pb-12">
    <app-social-anchor
      [ref]="'https://www.linkedin.com/in/camilo-pujol-coll-b07a84252/'"
      [iconClass]="'ti ti-brand-linkedin'"
      [anchorName]="'LinkedIn'"
    >
    </app-social-anchor>
    <app-social-anchor
      [ref]="'https://github.com/CamiloPC'"
      [iconClass]="'ti ti-brand-github'"
      [anchorName]="'GitHub'"
    >
    </app-social-anchor>
    <app-social-anchor
      [ref]="'mailto:campucoll@gmail.com'"
      [iconClass]="'ti ti-brand-gmail'"
      [anchorName]="'@gmail'"
    >
    </app-social-anchor>
  </nav>
</section>

<section class="w-full md:w-[520px] lg:w-[740px] mx-auto py-10" id="experience">
  <h2 class="text-2xl font-semibold pb-4 flex gap-x-4 items-center">
    <i class="ti ti-briefcase"></i>
    {{ 'EXPERIENCE.TITLE' | translate }}
  </h2>

  <ol class="relative border-s border-gray-300 dark:border-gray-700 ml-3">
    <app-xp-item
      [time]="'EXPERIENCE.CURRENT.TITLE' | translate"
      [title]="'EXPERIENCE.CURRENT.ROLE' | translate"
      [description]="'EXPERIENCE.CURRENT.DESCRIPTION' | translate"
    >
    </app-xp-item>
    <app-xp-item
      [time]="'EXPERIENCE.COPEXTEL.TITLE' | translate"
      [title]="'EXPERIENCE.COPEXTEL.ROLE' | translate"
      [description]="'EXPERIENCE.COPEXTEL.DESCRIPTION' | translate"
    >
    </app-xp-item>
    <app-xp-item
      [time]="'EXPERIENCE.CUJAE.TITLE' | translate"
      [title]="'EXPERIENCE.CUJAE.ROLE' | translate"
      [description]="'EXPERIENCE.CUJAE.DESCRIPTION' | translate"
    >
    </app-xp-item>
  </ol>
</section>

<section class="w-full md:w-[520px] lg:w-[740px] mx-auto py-10" id="projects">
  <h2 class="text-2xl font-semibold pb-4 flex gap-x-4 items-center">
    <i class="ti ti-code-circle-2"></i>
    {{ 'PROJECTS.TITLE' | translate }}
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 justify-items-center">
    <app-project-card
        [linkRef]="'https://angular-material-gifs-app.netlify.app/'"
        [imgSrc]="'../../../assets/images/gifsAppProject.jpg'"
        [projectName]="'GifsApp'"
        [projectDesc]="'PROJECTS.GIFS.DESC' | translate"
        [projectTechs]="'PROJECTS.GIFS.TECH' | translate">
    </app-project-card>

    <app-project-card
        [linkRef]="'https://backlog-frontend.vercel.app/home'"
        [imgSrc]="'../../../assets/images/backlogProject.jpg'"
        [projectName]="'BacklogApp (Demo)'"
        [projectDesc]="'PROJECTS.BACKLOG.DESC' | translate"
        [projectTechs]="'PROJECTS.BACKLOG.TECH' | translate">
    </app-project-card>

    <app-project-card
        [linkRef]="'https://countryappng.netlify.app/'"
        [imgSrc]="'../../../assets/images/countryAppProject.jpg'"
        [projectName]="'CountryApp'"
        [projectDesc]="'PROJECTS.COUNTRY.DESC' | translate"
        [projectTechs]="'PROJECTS.COUNTRY.TECH' | translate">
    </app-project-card>

    <app-project-card
        [linkRef]="'#'"
        [imgSrc]="'../../../assets/images/portfolioProject.jpg'"
        [projectName]="'Portfolio Web'"
        [projectDesc]="'PROJECTS.PORTFOLIO.DESC' | translate"
        [projectTechs]="'PROJECTS.PORTFOLIO.TECH' | translate">
    </app-project-card>
  </div>
</section>
