<div class="max-w-sm h-[555px] md:h-[570px] hover:scale-101 transition bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
  <a [href]="linkRef">
      <img class="rounded-t-lg" [src]="imgSrc" alt="" />
  </a>

  <div class="p-5">
    <a [href]="linkRef">
      <h5 class="mb-2 text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
        {{ projectName }}
      </h5>
    </a>
    <p class="mb-4 font-normal text-gray-700 dark:text-gray-400">
      {{ projectDesc }}
    </p>
    <i class="ti ti-device-desktop-code"></i>
    <p class="mb-4 font-normal text-gray-700 dark:text-gray-400">
      {{ projectTechs }}
    </p>
    <a [href]="linkRef" class="hover:scale-103 transition gap-x-2 inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Ver más...
        <i class="ti ti-circle-arrow-right"></i>
    </a>
  </div>
</div>
